*{
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
a:link {
  color: white;  
}
a:visited {
  color: white;  
}
h1{
  font-family: Times New Roman;
  font-size: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.border {
    padding: 30px;
    margin: 0px;
    text-align: center;
    background-color: darkgreen;
    color: white;
}
.nav,ul,li{
    display: inline;
    margin: 5px;
    font-size: 25px;
    color: grey;
}

.searchbar{
  margin: 50px;
  text-align: center;
}
.searchinput{
  width: 750px;
  height: 35px;
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
}
.center-section {
  text-align: center;
  color: darkgreen;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 90px;
  margin-bottom: 130px;
  border-style: solid;
  border-color: darkgreen;
  border-width: 8px;
  padding: 40px;
  background-color: white;
}
.h1{
  font-size: 50px;
  font-family: Times New Roman;
}
p{
  font-size: 30px;
  color: black;
}
.a{
  color: white;
  background-color: darkgreen;
  padding: 10px;
  font-size: 30px;
  margin: 30px;
  display: inline-block;
}
.copyright{
  
  color: black;
  margin: 30px;
  text-align: center;
}

.copyright1{
  color: black;
  margin: 50px;
  text-align: center;
}
body {
  background-color: lightyellow; 
}
hr {
  border: 1.5px solid #000; 
}

.products{
    
    background-color: lightyellow;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.contents {
    display: flex;
    flex-direction: column;
    
}

.contents h3 {
    color:black;
    font-size: 23px;
}

.contents a {
    color:black;
    font-size: 19px;
    text-decoration: underline;
    color: blue;
    padding-bottom: 10px;

}